@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Rouge+Script&family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// fonts
@font-face {
    font-family: 'Arima', serif;
    src: url('./fonts/Arima.ttf') format('truetype');
}
@font-face {
    font-family: 'Rouge Script', serif;
    src: url('./fonts/RougeScript-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Tenor Sans', serif;
    src: url('./fonts/TenorSans-Regular.ttf') format('truetype');
}

// presets
*{
    font-family: 'Tenor Sans', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark;
    h1,h2,h3{
      font-family: Arima;
    }
}

// scrollbar css
::-webkit-scrollbar{
  @apply bg-primary;
}
::-webkit-scrollbar-thumb{
  @apply bg-blue rounded-lg;
}
::-webkit-scrollbar-corner{
  @apply hidden;
}

// hash-span 
.hash-span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block;
  }
  // text gradients
.gray-blue-gradient {
    background: #050450; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #6c6d99,
      #050450
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #6c6d99,
      #050450
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.blue-gradient {
    background: #123192;
    background: linear-gradient(-90deg, #123192 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
      -90deg,
      #123192 0%,
      rgba(60, 51, 80, 0) 100%
    );
  }
.green-blue-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #00cea8 1.9%, #2563eb 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #2563eb 97.5%);
  }
.orange-text-gradient {
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #f12711,
      #f5af19
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #f12711,
      #f5af19
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.green-text-gradient {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.blue-text-gradient {
    /* background: -webkit-linear-gradient(#eee, #333); */
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #2f80ed,
      #56ccf2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #2f80ed,
      #56ccf2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.pink-text-gradient {
    background: #ec008c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  // padding
.paddingX {
  @apply px-6;
}
.paddingY {
  @apply sm:py-16 py-6;
}
.padding{
 @apply sm:px-16 px-6 sm:py-16 py-10;
}
//head and sub text css
.heroHeadText{
 @apply font-black text-white lg:text-[60px] sm:text-[36px] xs:text-[30px] text-[40px] lg:leading-[98px] mt-2;
}
.heroSubText{
 @apply text-[#dfd9ff] font-medium lg:text-[28px] sm:text-[24px] xs:text-[18px] text-[16px] lg:leading-[40px];
}
.sectionHeadText{
 @apply text-white font-black md:text-[40px] sm:text-[32px] xs:text-[30px] text-[36px];
}
.sectionSubText{
 @apply sm:text-[14px] text-[12px] text-secondary uppercase tracking-wider;
}

  /* canvas- styles */
.canvas-loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
  
@keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff,
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
        1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }

// containers
.main-container{
    @apply relative z-0 bg-primary;
}
.navigation-container{
    @apply bg-hero-pattern bg-cover bg-no-repeat bg-center;
}
.contact-container{
    @apply relative z-0;
}
// navigation
nav{
    @apply w-full flex items-center py-2 fixed top-0 z-20 bg-primary;

    .nav{
        @apply w-full flex justify-between items-center max-w-7xl mx-auto;
    }
    .logo-link{
        @apply flex items-center gap-1;
    }
    .logo{
        @apply xs:w-8  sm:w-10 aspect-square object-contain;
    }
    .logo-text{
        @apply text-white cursor-pointer font-normal leading-tight sm:text-2xl xs:text-xl;
        font-family: 'Rouge Script', cursive;
    }
    .sm-logo-text{
        @apply xs:hidden sm:hidden md:inline-flex;
    }
    .link{
        @apply text-purple;
    }
    .link-container{
        @apply list-none hidden sm:flex flex-row gap-3;
    }
    .li-links{
        @apply hover:text-purple text-gray-300 text-base font-medium cursor-pointer;
    }
}
.mobile-nav{
    @apply sm:hidden flex flex-1 justify-end items-center ;

    img{
        @apply w-[28px] aspect-square object-contain cursor-pointer;
    }
    .mobile-nav-container{
        @apply p-6 absolute top-16 right-0 mx-4 my-2 min-w-[140px] z-20 rounded-xl ;
    }
    .mobile-link-container{
        @apply list-none flex justify-end items-start flex-col gap-1 ;
    }
    .mobile-li-links{
        a{
            @apply hover:text-primary text-white cursor-pointer text-sm font-bold;
            font-family: 'Arima', serif !important;
        }
    }
}
// hero
.hero{
    @apply relative w-full h-screen mx-auto;

    .hero-container{
        @apply absolute inset-0 top-[120px] max-w-7xl mx-auto flex flex-row items-start gap-5;
    }
    .hero-div{
        @apply flex flex-col justify-center items-center mt-5;
    }
    .hero-circle{
        @apply w-6 aspect-square rounded-full bg-blue;
    }
    .hero-line{
        @apply w-[7px]  h-64 blue-gradient;
    }
    .hero-name{
      @apply text-blue-200;
    }
    p{
      @apply mt-2 text-white-100;
    }
    // scroll-container (removed)
    // .scroll-container{
    //   @apply absolute md:bottom-10 bottom-36 w-full flex justify-center items-center z-10;

    //   .scroll-border{
    //     @apply w-[35px] h-[64px] rounded-3xl border-4 border-secondary flex justify-center items-start p-2 z-10;
    //   }
    //   .scroll-ball{
    //     @apply w-3 h-3  rounded-full bg-secondary mb-2 z-10;
    //   }
    // }
}
// about page
.about{
  .about-text{
    @apply mt-4 text-secondary text-lg max-w-4xl md:leading-7 xs:text-sm xs:leading-6;
  }
}
.service-cards-container{
  @apply mt-6 flex flex-wrap xs:w-1/2  md:w-full xs:gap-5 mx-auto md:gap-10;
}
.service-card-container{
 @apply xs:w-[250px] w-full mx-auto;

 .service-card-div{
  @apply w-full p-[1px] rounded-2xl;
 }
 .service-card{
  @apply bg-tertiary rounded-2xl py-5 px-12 min-h-[280px] flex justify-evenly items-center flex-col;
 }
 img{
  @apply w-16 aspect-square object-contain;
 }
}
// hoc css
.hoc{
  @apply max-w-7xl mx-auto relative z-0;
}
// experience page
.experience{
  .timeline{
    @apply mt-10 flex flex-col text-sm;
  }
}
.experience-card{
  .experience-div{
    @apply w-full aspect-square flex justify-center items-center;
  }
  img{
    @apply w-[70%] aspect-square object-contain;
  }
  h3{
    @apply text-white text-2xl font-bold;
  }
  p{
    @apply text-secondary text-base font-semibold;
  }
  ul{
    @apply mt-5 list-disc ml-5 space-y-2;

    li{
      @apply text-white-100 text-[14px] pl-1 tracking-wider;
    }
  }
}
// tech page
.tech{
  @apply flex flex-row flex-wrap justify-center gap-5 lg:-mt-6  sm:-mt-14 xs:-mt-10;

  .balls{
    @apply xs:w-20 sm:w-24 md:w-28 aspect-square;
  }  
}
// projects page
.works{
  .container{
    @apply  w-full flex;
    .motion-p{
      @apply mt-3 mb-6 text-white text-lg max-w-3xl md:leading-7 xs:text-sm xs:leading-5;
    }
  }
  .project{
    @apply  mt-20 flex flex-wrap gap-7 lg:items-start xs:my-auto xs:items-center;
  }
}
.project-cards-container{
  @apply xs:w-[300px] md:w-[350px] w-full mx-auto;
  .project-card-container{
    @apply relative w-full h-[230px];
  }
  .project-card{
    @apply  p-[1px] rounded-2xl;
  }
  .project-card-description{
    @apply mt-5 ;

    h3{
      @apply text-white font-bold md:text-xl sm:text-lg xs:text-base;
    }
    p{
      @apply mt-2 text-secondary md:text-sm sm:text-xs;
    }
  }
  .tag-div{
    @apply mt-4 flex flex-wrap gap-2;
  }
  .project-card-div{
    @apply w-full p-[1px] rounded-2xl;
   }
   .project-card-bg{
    @apply bg-tertiary rounded-2xl p-5 min-h-[580px] flex justify-evenly items-center flex-col;
   }
   img{
    @apply w-full h-full object-cover rounded-2xl;
  }
  .project-card-img-div{
    @apply absolute inset-0 flex justify-end m-3;
  }
  .project-link{
    @apply w-10 h-10 gray-blue-gradient rounded-full flex justify-center items-center cursor-pointer;
  }
  .project-links{
    @apply flex gap-x-1;
  }
  .github-link{
    @apply w-1/2 h-1/2 object-contain;
  }
  .website-link{
    @apply w-full h-full object-contain p-[1px];
  }
}
// testimonials page
.testimonials{
  @apply mt-12 bg-black-100 rounded-[20px];

  .feedback-div{
    @apply bg-tertiary rounded-2xl min-h-[300x];
  }
  .testimonial-card{
    @apply -mt-10 pb-14 flex flex-wrap gap-7;
  }
  .feedback-motion-div{
    @apply bg-black-200 p-10 rounded-3xl sm:w-[320px] w-full;
  }
  .testimonial-text-div{
    @apply mt-1;

    .testimonial-text{
      @apply text-white tracking-wider text-lg;
    }
    .testimonial-content{
      @apply mt-7 flex justify-between items-center gap-1;
      
      .testimonial-info{
        @apply flex-1 flex flex-col;

        .company-name{
          @apply blue-text-gradient;
        }
        .testimonial-company-name{
          @apply text-secondary mt-1 text-xs;
        }
        .company-designation{
          @apply green-text-gradient;
        }
      }

      img{
        @apply w-10 aspect-square rounded-full object-cover;
      }
    }
  }
  .testimonial-header-text{
    @apply text-white font-black text-5xl;
  }
}
// contact page
.contact{
  @apply xl:mt-4 xl:flex-row flex-col-reverse flex gap-6 overflow-hidden;

  .contact-motion-div{
    @apply flex-[1.75] bg-black-100 p-8 rounded-2xl;
  }
  .form-container{
    @apply mt-8 flex flex-col gap-4;

    label{
      @apply flex flex-col text-sm;

      span{
        @apply text-white font-medium mb-2;
      }
      input, textarea{
        @apply bg-tertiary py-4 px-6 placeholder:text-secondary text-white rounded-lg outline-none border-none font-medium;
      }
    }
    input{
      @apply text-sm h-4;
    }
    button{
      @apply bg-tertiary py-2 px-6 outline-none w-fit text-white font-bold shadow-md shadow-primary rounded-xl hover:bg-black-200 hover:text-secondary;
    }
  }
  .Earth-Canvas-Div{
    @apply xl:flex-1 xl:h-auto md:h-[600px] h-[350px] xs:h-[1000px];
  }
}
// stars (removed)
.stars-canvas-div{
  @apply w-full h-auto absolute inset-0 z-[-1];
}